@import "../../variables.scss";
.user-profile-wrapper {
  padding: 20px;
  .header-title {
    color: $lt-card-bg;
    font-size: 1.4rem;
    padding-bottom: 16px;
    border-bottom: 1px solid $lt-btn-primary-border;
    margin-bottom: 10px;
  }
}
